<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" href="{% static 'img/Diseño sin título.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}"> 
    <title>Mostrar Vehiculos</title>
    
</head>
<body class="fondoForm">
    <nav class="navbar navbar-expand-sm navbar-light bg-ffda9e" id="barraNav">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
            <span class="navbar-toggler-icon"></span><!---crear espacio-->
        </button>

        <a href="#" class="navbar-brand">
            <img src="{% static 'img/Diseño sin título.png' %}" width="150px" height="150px">
        </a>
        
        <div class="collapse navbar-collapse"  ><!--Para hacer menú-->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'PetShop' %}" >Inicio 🐾</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'Productos' %}" >Productos 🐾</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'SobreNosotros' %}" >Sobre Nosotros 🐾</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'Formulario' %}" >Trabaja con nosotros 🐾</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'Tablas' %}">Tablas 🐾</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'Tienda' %}">Tienda 🐾</a></li>
            </ul>
        </div>

        <div  >
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" id="userr">
                    <img src="{% static 'img/icono-user.png' %}" alt="user" width="50px">Cerrar Sesión
                </a>
            {% else %}
                <a href="{% url 'login' %}" id="userr">
                    <img src="{% static 'img/icono-user.png' %}" alt="user" width="50px">Iniciar Sesión
                </a>
            {% endif %}
        </div>
    </nav>
    <hr>
    <br><br><br><br><br>
    <div class="container">
        <h3> Detalle de Compra </h3><br><h6>Fecha: {{ fecha }}</h6>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Código Boleta</th>
                    <th>Código Producto</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for prod in productos_boleta %}
                <tr>
                    <td>{{ prod.id_boleta }}</td>
                    <td>{{ prod.id_producto }}</td>
                    <td>{{ prod.cantidad }}</td>
                    <td>{{ prod.subtotal }}</td>
                </tr>
                {% endfor %}
            </tbody>
               
            <tr><td><h6>Total Compra: {{ total }}</h6></td>
            </tr>
        </table>
    </div>
</body>
</html>
