*{
    margin: 0; /*Establecer margen en 0*/
    padding: 0; /*Establecemos relleno en 0*/
}

.bodyPag{
   background-color: #F2DAC4;
}

.navbar{
    -webkit-box-shadow:0px 2px 2px #dddddd;
    -moz-box-shadow:0px 2px 2px #dddddd;
    box-shadow:0px 2px 2px #dddddd;
    position: fixed;
    z-index: 1;
    display: flex;
    transition: 0.3s;
    width: 100%;
    top: 0;
  }

#bienvenidos{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0;
    background-color: aliceblue;
    text-align: justify;
    font-family: sans-serif;
}

#nosotros{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0;
    text-align: justify;
    font-family: sans-serif;
}

#btnbuscar{
    margin-right: 20px;
    margin-left: -5px;
}

footer{
    background-color: #D9A05B;
    padding: 20px;
    
}

footer div p{
    font-size: 12px;
    padding-top: 5px;
    line-height: 10px;
    color: black;
  }

#link div a{
    color: black;
    text-decoration: none;
  }


#letra{
    color: black;
    text-align: justify;
    font-size: 22px;
    font-family: sans-serif;
}

#letraOP{
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
}

#letrapro{
    color: black;
    text-align: justify;
    font-family: sans-serif;
}



.bg-ffda9e {
    background-color: #D9A05B;
}

.card p{
    text-align: justify;
    color: #596272;
}

.cajaForm{
    justify-content: center;
    padding: 20px 25px;
    box-shadow: 0 5px 10px;
    border-radius: 20px;
    backdrop-filter: blur(300px);
    background-color:white;
}

.fondoForm{
    background-image: url(../img/fondo.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.error-control{
    border: 1px solid red;
}

label.error{
    color:red;
    width: 250px;
    font-size: 0.8em;
    margin-top:-5px;
    margin-bottom: 10px;
}

.tituloIMC{
    font-family: sans-serif;
    text-align: justify;
    text-align: center;
}

#caja {
    transition: background-color 0.5s ease;
  }

#caja {
    transition: background-color 0.5s ease;
  }

#caja:hover {
    background-color: deeppink;
  }

.caja{
    height: 50px;
    width: 50px;
}

.userr div a{
    color: red; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
 
.tr:hover {background-color: lightcoral;}
